.responsive {
    max-width: 100%;
    height: auto;
}


div .itemContainer {
    overflow:auto;
}

div .poster {
    float: left;
    margin-right: 10px;
}

div .info {
    padding-left: 15px;
    padding-right: 15px;
    overflow:auto;
}

p .film-title {
    font-size: 1.5em;
}